body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // text-align: center;
  background: linear-gradient(to bottom, #202020, #111119);
  background-color: linear-gradient(to bottom, #202020, #111119);
  // color: white;
  // margin-top: 60px;
}

//Hide scrollbar
html {
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.custom-shadow {
  -webkit-box-shadow: 0px 0px 26px -5px rgba(255, 255, 255, 0.36);
  -moz-box-shadow: 0px 0px 26px -5px rgba(255, 255, 255, 0.36);
  box-shadow: 0px 0px 26px -5px rgba(255, 255, 255, 0.36);
}

nav {
  background: rgba(255, 255, 255, 0.13);
  // border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  // border: 1px solid rgba(255, 255, 255, 0.3);
}

.contact-button {
  -webkit-box-shadow: 0px 0px 26px -5px rgba(255, 255, 255, 0.36);
  -moz-box-shadow: 0px 0px 26px -5px rgba(255, 255, 255, 0.36);
  box-shadow: 0px 0px 26px -5px rgba(255, 255, 255, 0.36);
}

.terminal-bg {
  background-color: rgba(58, 58, 58, 0.5);
}

main {
  scroll-margin-top: 72px;
}

section {
  scroll-margin-top: 100px;
}
