@tailwind base;
@tailwind components;
@tailwind utilities;

@import "app";

.custom-shadow {
  -webkit-box-shadow: 0px 0px 26px -5px rgba(255, 255, 255, 0.36);
  -moz-box-shadow: 0px 0px 26px -5px rgba(255, 255, 255, 0.36);
  box-shadow: 0px 0px 26px -5px rgba(255, 255, 255, 0.36);
}

nav {
  background: rgba(255, 255, 255, 0.13);
  // border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  // border: 1px solid rgba(255, 255, 255, 0.3);
}

.contact-button {
  -webkit-box-shadow: 0px 0px 26px -5px rgba(255, 255, 255, 0.36);
  -moz-box-shadow: 0px 0px 26px -5px rgba(255, 255, 255, 0.36);
  box-shadow: 0px 0px 26px -5px rgba(255, 255, 255, 0.36);
}
